@import 'colors'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 14px

body
    color: $dark
    font-family: "source-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif
 

/* Header */
header
    padding-left: 50px
    *
        color: white
    /* State styles */
    .state-wrapper
        padding-top: 20px
        display: flex
        width: 300px
        margin: auto

        p
            position: relative
            color: $dark
            height: 30px
            line-height: 30px
            margin: 0px 10px
            padding-right: 30px

            span
                position: absolute
                display: inline-block
                width: 20px
                height: 20px
                border-radius: 50%
                top: 5px
                right: 0px
                box-shadow: 0px 0px 5px $dark
                


    /* Get auction data + info button styles */
    .form-wrapper
        margin-top: 20px
        float: left
        min-width: 300px
        max-width: 350px
        width: 100%
        height: 30px
        &:after
            clear: both

        .get-auction-data
            width: calc(100% - 40px)
            display: inline-block
            height: 30px

            label
                text-align: center
                cursor: pointer
                position: relative
                display: inline-block
                background-color: $orange
                width: calc(70% - 10px)
                border-radius: 20px
                height: 30px
                line-height: 30px
                padding-left: 35px
                padding-right: 5px
                box-shadow: 0px 0px 5px $dark
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
            
                .upload-icon
                    width: 20px
                    position: absolute
                    left: 10px
                    top: 5px
                    fill: white

            input[type=file]
                display: none

            input[type=submit]
                position: relative
                top: -10px
                left: 0
                cursor: pointer
                height: 30px
                width: 30%
                border: none
                display: inline-block
                border-radius: 20px
                background-color: $dark
                box-shadow: 0px 0px 5px $dark
                padding: 0px 10px
                margin-left: 10px

        .info-icon-wrapper
            display: inline-block
            .info-icon
                width: 30px
                fill: $blue
                margin-left: 10px
                cursor: pointer
                box-shadow: 0px 0px 5px $dark
                border-radius: 50%
                
@media(max-width: 350px)
    header
        padding-left: 0px !important
        .form-wrapper
            padding: 0px 5px !important
            margin: auto !important
            margin-top: 20px !important


