@import 'colors'
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 14px
    outline: none

body
    color: $dark
    font-family: 'Roboto', "source-sans-pro","Helvetica Neue",Helvetica,Arial,sans-serif

.hidden-body
    overflow: hidden

 

/* Header */
header
    padding-left: 50px
    *
        color: white

    /* Get auction data + info button styles */
    .form-wrapper
        margin-top: 20px
        float: left
        min-width: 285px
        max-width: 350px
        width: 100%
        height: 30px
        padding: 0 5px
        
        &:after
            clear: both

        .get-auction-data
            width: calc(100% - 40px)
            display: inline-block
            height: 30px

            label
                text-align: center
                cursor: pointer
                position: relative
                display: inline-block
                background-color: $orange
                width: calc(70% - 10px)
                border-radius: 20px
                height: 30px
                line-height: 30px
                padding-left: 35px
                padding-right: 5px
                box-shadow: 0px 0px 5px $dark
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
            
                .upload-icon
                    width: 20px
                    position: absolute
                    left: 10px
                    top: 5px
                    fill: white

            input[type=file]
                display: none

            input[type=submit]
                position: relative
                top: -10px
                left: 0
                cursor: pointer
                height: 30px
                width: 30%
                border: none
                display: inline-block
                border-radius: 20px
                background-color: $dark
                box-shadow: 0px 0px 5px $dark
                padding: 0px 10px
                margin-left: 10px
                &:disabled
                    color: grey
                    cursor: default

        .info-icon-wrapper
            display: inline-block
            .info-icon
                width: 30px
                fill: $blue
                margin-left: 10px
                cursor: pointer
                border-radius: 50%
/* Main */
main
    margin-top: 50px
    display: flex
    flex-wrap: wrap
    justify-content: space-around

/* Recipe list */
.recipe-list
    width: 270px
    text-align: center

    select
        text-transform: capitalize
        border: none
        margin: 10px 0px

        *
            text-transform: capitalize


    input[type=text]
        padding: 2px
        border: 1px solid $dark
        &:hover
            box-shadow: 0px 0px 3px $dark

    .recipes-container
        margin-top: 10px
        text-align: left
        height: 300px
        overflow-y: scroll
        &:hover
            box-shadow: 0px 0px 3px $dark

        li
            background-image: url('./../assets/recipe-background.png')
            border-radius: 3px
            padding: 2px
            padding-left: 5px
            margin: 2px 0px
            cursor: pointer
            border: 1px solid transparent
            
            
            &:hover
                border: 1px solid $orange
                background-color: $light

            &.selected-recipe
                border: 1px solid $orange
                background-color: $light

/* Display recipe */
.display-recipe
    width: 270px
    text-align: center

    h2
        margin: 10px 0px 40px

    table
        width: 270px
        min-width: 270px
        max-width: 270px
        border-collapse: collapse
        margin-bottom: 5px

        &:nth-child(odd)
            background-color: $dark
            color: white
            caption
                background-color: $dark
                color: white

        caption
            font-weight: bold
        
        *
            border: 1px solid transparent
            font-size: 13px

        input
            width: 50px
            border: 1px solid $dark
            height: 20px
            float: right
            margin-right: 5px
        
        td:nth-child(4)
            min-width: 60px
            width: 60px
            max-width: 60px

    .display-recipe-price
        margin-bottom: 20px
        background-color: $light-orange

/* Calc profit */
.calc-profit
    width: 270px
    h2
        margin: 10px 0px 30px
        text-align: center

    div
        position: relative
        
        &:nth-child(even)
            background-color: $light

        label
            display: inline-block
            padding: 10px 5px


        

        
    
    input[type=number]
        width: 50px
        border: 1px solid $dark
        margin-right: 5px

/* Info modal */
.info-modal-container
    position: absolute
    height: 100%
    min-height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, 0.7)
    z-index: 10
    

    

    .info-modal
        overflow-y: scroll
        height: calc(100% - 100px)
        width: 50%
        min-width: 290px
        background-color: white
        word-wrap: break-word
        margin: 50px auto
        box-shadow: 0px 0px 10px 3px #111

        code
            display: block
            color: $primary-text
            font-weight: bold
            background-color: $light
            padding: 5px

            .hightlight-span
                color: $orange

        h2
            text-align: center
            font-size: 18px
            margin: 20px 0px
        h3
            margin: 30px 0
            padding: 10px

        p
            padding: 10px
        
        .state-wrapper p
            padding: 0
            padding-right: 20px

        .text-wrapper
            min-width: 250px
            max-width: 500px
            margin: 60px auto 0
            

        .close-button
            border: none
            font-size: 20px
            float: right
            background-color: $dark
            color: white
            width: 50px
            height: 50px
            cursor: pointer
            border-radius: 3px
            margin-top: 10px
            margin-right: 10px
            &:hover
                box-shadow: 0px 0px 3px $dark

        /* Display recipe */
        .display-recipe
            margin: auto

        .display-recipe-price
            background-color: $light-orange
            color: black

        /* Get auction preview */
        .get-auction-preview
            width: 260px
            height: 30px
            margin: 20px auto

            .upload
                color: white
                border: none
                text-align: center
                position: relative
                display: inline-block
                background-color: $orange
                width: calc(70% - 10px)
                border-radius: 20px
                height: 30px
                line-height: 30px
                padding-left: 35px
                padding-right: 5px
                box-shadow: 0px 0px 5px $dark
            
                .upload-icon
                    width: 20px
                    position: absolute
                    left: 10px
                    top: 5px
                    fill: white

            .submit
                color: white
                height: 30px
                width: 30%
                border: none
                display: inline-block
                border-radius: 20px
                background-color: $dark
                box-shadow: 0px 0px 5px $dark
                padding: 0px 10px
                margin-left: 10px

/* State styles */
.state-wrapper
    padding-top: 20px
    display: flex
    width: 270px
    margin: auto

    p
        position: relative
        color: $dark
        height: 30px
        line-height: 30px
        margin: 0px 10px
        padding-right: 20px
        font-size: 13px

        span
            position: absolute
            display: inline-block
            width: 15px
            height: 15px
            border-radius: 50%
            top: 7px
            right: 0px
            box-shadow: 0px 0px 5px $dark

        .auction-loading
            background-color: $regular-text !important
            box-shadow: none
            &:after
                content: ''
                position: absolute
                top: -2px
                left: -2px
                display: block
                height: 100%
                width: 100%
                border-radius: 50%
                border: 2px solid transparent
                border-top-color: $green
                border-bottom-color: $green
                animation: spin 1500ms linear infinite

/* Skeletons */
/* Recipe list skeleton */
.recipe-list-skeleton
    p
        display: block
        background-color: $light
        border-radius: 10px
        width: 150px
        height: 20px
        margin: 20px auto
        &:nth-child(2)
            width: 200px

    ul
        list-style: none
        background-color: $light
        padding: 10px
        width: 270px
        li
            display: block
            background-color: $light-grey
            border-radius: 10px
            width: 150px
            height: 20px
            margin: 20px auto

/* Display recipe skeleton */
.display-recipe-skeleton
    p
        display: block
        background-color: $light
        border-radius: 10px
        width: 150px
        height: 20px
        margin: 20px auto
    
    .skeleton-table
        width: 270px
        height: 60px
        background-color: $light
        margin: 10px 0px
        padding-left: 5px
        padding-top: 5px
        p
            display: inline-block
            background-color: $light-grey
            border-radius: 10px
            width: 60px
            height: 20px
            margin: 2px

/* Animations */     
@keyframes spin
    from 
        transform: rotate(0deg)

    to
        transform: rotate(360deg)
    

/* Mobile */
@media(max-width: 350px)
    header
        padding-left: 0px !important


